.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.App {
  max-width: 400px;
  margin: auto;
  box-shadow: 0 8px 50px -7px black;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
button:hover {
  background-color: black;
  color: white;
}
